<div class="row">
    <div class="col-100">
        <h1>Tabla clientes*</h1>
        <h6 style="text-align: right;font-size: 12px;">( *Ejemplo de uso de <em> "Service"</em> para obtener datos externos a la lógica y a usuario )</h6>
        <table>
            <tr>
                <th>Cliente</th>
                <th>CIF</th>
                <th>Localidad</th>
            </tr>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.cif}}</td>
                <td>{{cliente.localidad}}</td>
            </tr>
        </table>
    </div>
</div>
<h1 style="text-align: left;">Crear cliente:</h1>
<h6 style="text-align: right;font-size: 12px;">(*Componente "app-crear-clientes")</h6>
<app-crear-cliente/>
<!-- <app-crear-cliente></app-crear-cliente> //Equivalente en selector-->