<header class="ae-container-fluid ae-container-fluid--full rk-header">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu" />
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <a routerLink="about">WebApp Angular<sup>tm</sup></a>
      </h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">Inicio</a>
          </li>
          <li class="active rk-menu__item">
            <a routerLink="portfolio" class="rk-menu__link">Portfolio</a>
          </li>
          <li class="active rk-menu__item">
            <a routerLink="interpol" class="rk-menu__link">Interpolation</a>
          </li>
          <li class="active rk-menu__item">
            <a routerLink="property" class="rk-menu__link">Property</a>
          </li>
          <li class="active rk-menu__item">
            <a routerLink="event" class="rk-menu__link">Event</a>
          </li>
          <li class="active rk-menu__item">
            <a routerLink="twow" class="rk-menu__link">Two-Ways</a>
          </li>
          <li class="active rk-menu__item">
            <a routerLink="dom" class="rk-menu__link">Acceso DOM</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>