<header class="ae-container-fluid ae-container-fluid--full rk-header">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu" />
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
      <a routerLink="about">WebApp Angular<sup>tm</sup></a>
    </h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="portfolio" class="rk-menu__link">Portfolio</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="clientes" class="rk-menu__link">Clientes</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="otroabout" class="rk-menu__link">Info Firebase</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="cookies" class="rk-menu__link">Cookies</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="interpol" class="rk-menu__link">Data Binding</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="interpol" class="rk-menu__link">Interpolation</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="property" class="rk-menu__link">Property</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="event" class="rk-menu__link">Event</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="twow" class="rk-menu__link">Two-Ways</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="dom" class="rk-menu__link">Acceso DOM</a></li>
            </ul>
          </nav>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="pipes" class="rk-menu__link">Pipes</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="if" class="rk-menu__link">Directives</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="if" class="rk-menu__link">NG IF</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="switch" class="rk-menu__link">NG SWITCH</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="for" class="rk-menu__link">NG FOR</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="class" class="rk-menu__link">NG CLASS</a></li>
              <li routerLinkActive="active" class="rk-menu__item"><a routerLink="style" class="rk-menu__link">NG STYLE</a></li>
            </ul>
          </nav>
        </li>
      </ul>
    </nav>
  </div>
</header>
