<header class="ae-container-fluid ae-container-fluid--full rk-header">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu" />
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
      <a routerLink="about">WebApp Angular<sup>tm</sup></a>
    </h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="portfolio" class="rk-menu__link">Portfolio</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="clientes" class="rk-menu__link">Clientes</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="otroabout" class="rk-menu__link">Info Firebase</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="cookie-test" class="rk-menu__link">Cookie Test</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="interpol" class="rk-menu__link">Data Binding</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="interpol" class="rk-menu__link">Interpolation</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="property" class="rk-menu__link">Property</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="event" class="rk-menu__link">Event</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="twow" class="rk-menu__link">Two-Ways</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="dom" class="rk-menu__link">Acceso DOM</a>
              </li>
            </ul>
          </nav>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="pipes" class="rk-menu__link">Pipes</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="if" class="rk-menu__link">Directives</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="if" class="rk-menu__link">NG IF</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="switch" class="rk-menu__link">NG SWITCH</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="for" class="rk-menu__link">NG FOR</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="class" class="rk-menu__link">NG CLASS</a>
              </li>
              <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="style" class="rk-menu__link">NG STYLE</a>
              </li>
            </ul>
          </nav>
        </li>
        <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="login" class="rk-menu__link"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12.451 17.337l-2.451 2.663h-2v2h-2v2h-6v-5l6.865-6.949c1.08 2.424 3.095 4.336 5.586 5.286zm11.549-9.337c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-3-3c0-1.104-.896-2-2-2s-2 .896-2 2 .896 2 2 2 2-.896 2-2z"
              /></svg
          ></a>
        </li>
        <li *ngIf="authService.isLoggedIn()===false" routerLinkActive="active" class="rk-menu__item">
          <a routerLink="register" class="rk-menu__link"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M.002 20h6.001c-.028-6.542 2.995-3.697 2.995-8.901 0-2.009-1.311-3.099-2.998-3.099-2.492 0-4.226 2.383-1.866 6.839.775 1.464-.825 1.812-2.545 2.209-1.49.344-1.589 1.072-1.589 2.333l.002.619zm20.498-7c-1.932 0-3.5 1.567-3.5 3.5s1.568 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.568-3.5-3.5-3.5zm1.5 4h-1v1h-1v-1h-1v-1h1v-1h1v1h1v1zm-4.814 3h-9.183l-.003-.829c0-1.679.133-2.649 2.118-3.107 2.243-.518 4.458-.981 3.394-2.945-3.156-5.82-.901-9.119 2.488-9.119 4.06 0 4.857 4.119 3.085 7.903-1.972.609-3.419 2.428-3.419 4.597 0 1.38.589 2.619 1.52 3.5z"
              /></svg
          ></a>
        </li>
        <p *ngIf="authService.isLoggedIn()">
          <a routerLink="perfil"
            >Bienvenido, {{ authService.getUsername() | titlecase}}!</a
          >
        </p>
      </ul>
    </nav>
  </div>
</header>
