.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  input {
    width: calc(100% - 10px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    width: calc(100% - 10px);
    padding: 10px;
    margin: 10px;
    background-color: #1d8acb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #096da7;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  input,
  p,
  button,
  h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  input,
  p,
  button {
    font-size: 18px;
  }

  h1 {
    text-align: center;
  }

  