<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <h1>Términos y Condiciones de Uso</h1>
  <p>Bienvenido a la WebApp</p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dicta quod
    veritatis voluptatibus voluptatem deserunt repellendus eligendi ea est, ipsa
    possimus, amet omnis inventore nobis dolorem blanditiis explicabo eius
    animi?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos amet quo
    quidem similique? Tenetur voluptas porro consequuntur quisquam delectus
    eius, quam quae dolorum dicta magni soluta atque, error in minus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, obcaecati
    ullam natus et debitis, labore porro, iure maxime modi facilis eius beatae
    tempora odit aperiam minus voluptates quam non? Illo.
  </p>
</div>
