<div class="row">
    <div class="col-25"></div>
    <div class="col-50">
        <form>
            <div class="row">
                <label>Nombre</label>
                <input type="text" [(ngModel)]="cliente.nombre" name="nombre">
            </div>
            <div class="row">
                <label>CIF</label>
                <input type="text" [(ngModel)]="cliente.cif" name="cif">
            </div>
            <div class="row">
                <label>Localidad</label>
                <input type="text" [(ngModel)]="cliente.localidad" name="localidad">
            </div>
            <div class="row end">
                <button type="button" (click)="addCliente()">Añadir</button>
            </div>
        </form>
    </div>
</div>