<header class="ae-container-fluid ae-container-fluid--full rk-header">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu" />
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <a href="index.html">WebApp Angular<sup>tm</sup></a>
      </h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item">
            <a href="index.html" class="rk-menu__link">Inicio</a>
          </li>
          <li class="active rk-menu__item">
            <a href="portfolio.html" class="rk-menu__link">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>