<footer class="ae-container-fluid rk-footer">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item">
          <a routerLink="about" class="rk-menu__link">Inicio</a>
        </li>
        <li class="rk-menu__item">
          <a routerLink="portfolio" class="rk-menu__link">Portfolio</a>
        </li>
        <li class="rk-menu__item">
          <a routerLink="/terminos" routerLinkActive="active" class="rk-menu__link">Términos</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy">
        <span class="ae-u-bolder">2015-{{year}} WebApp Angular </span> Todos los derechos reservados.
      </p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a href="https://twitter.com/marcesteveg" target="_blank" class="rk-social-btn">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
        </a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact">
        <span class="ae-u-bold">Email: </span
        ><span class="ae-u-bolder">
          <a href="mailto:marc&#64;pr0j3ct.com" class="rk-dark-color">marc&#64;pr0j3ct.com</a></span
        >
      </p>
      <p class="rk-footer__text rk-footer__by">
        Desarrollador por
        <a href="https://pr0j3ct.com" class="ae-u-bolder">PR0J3CT</a>
      </p>
    </div>
  </div>
</footer>