<h1 style="text-align: center; margin-top: 23px;">Productos estrella</h1>

<div class="container">
  <div class="card">
    <h2>Laptop Moderna de Alta Gama</h2>
    <hr />
    <p>
      Un portátil de última generación con diseño elegante y acabado en color
      plata, ideal para profesionales y estudiantes.
    </p>
    <img
      src="assets/img/modern-laptop.webp"
      alt="Laptop Moderna"
      class="product-image"
    />
    <div class="price-tag bounce">
      <span>1.200 €</span>
    </div>
    <div class="buttons-row">
      <button
        (click)="addProducto({ producto: 'Laptop Moderna de Alta Gama' })"
      >
        Añadir al carrito
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Smartphone Premium</h2>
    <hr />
    <p>
      Teléfono inteligente con la última tecnología en cámaras y procesadores,
      pantalla de alta resolución y sistema operativo actualizado.
    </p>
    <img
      src="assets/img/modern-smartphone.webp"
      alt="Smartphone Premium"
      class="product-image"
    />
    <div class="price-tag bounce">
      <span>999 €</span>
    </div>
    <div class="buttons-row">
      <button (click)="addProducto({ producto: 'Smartphone Premium' })">
        Añadir al carrito
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Auriculares Inalámbricos</h2>
    <hr />
    <p>
      Auriculares con cancelación de ruido, conexión Bluetooth y batería de
      larga duración, perfectos para música, llamadas y juegos.
    </p>
    <img
      src="assets/img/wireless-headphones.webp"
      alt="Auriculares Inalámbricos"
      class="product-image"
    />
    <div class="price-tag bounce">
      <span>250 €</span>
    </div>
    <div class="buttons-row">
      <button (click)="addProducto({ producto: 'Auriculares Inalámbricos' })">
        Añadir al carrito
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Smartwatch Deportivo</h2>
    <hr />
    <p>
      Reloj inteligente con capacidades de seguimiento de actividad física,
      notificaciones en tiempo real y resistente al agua.
    </p>
    <img
      src="assets/img/smartwatch.webp"
      alt="Smartwatch Deportivo"
      class="product-image"
    />
    <div class="price-tag bounce">
      <span>350 €</span>
    </div>
    <div class="buttons-row">
      <button (click)="addProducto({ producto: 'Smartwatch Deportivo' })">
        Añadir al carrito
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Consola de Videojuegos</h2>
    <hr />
    <p>
      La última consola del mercado que ofrece gráficos en alta definición, un
      extenso catálogo de juegos y experiencias interactivas en línea.
    </p>
    <img
      src="assets/img/consola.webp"
      alt="Consola de Videojuegos"
      class="product-image"
    />
    <div class="price-tag bounce">
      <span>500 €</span>
    </div>
    <div class="buttons-row">
      <button (click)="addProducto({ producto: 'Consola de Videojuegos' })">
        Añadir al carrito
      </button>
    </div>
  </div>

  <div class="card">
    <h2>Cámara DSLR Profesional</h2>
    <hr />
    <p>
      Cámara con alta resolución, múltiples objetivos intercambiables, y
      tecnología de captura de imágenes en condiciones de baja luz.
    </p>
    <img
      src="assets/img/camara.webp"
      alt="Cámara DSLR Profesional"
      class="product-image"
    />
    <div class="price-tag bounce">
      <span>1.500 €</span>
    </div>
    <div class="buttons-row">
      <button (click)="addProducto({ producto: 'Cámara DSLR Profesional' })">
        Añadir al carrito
      </button>
    </div>
  </div>
</div>
