<div *ngIf="authService.isLoggedIn() === false" class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <input
      [(ngModel)]="username"
      (ngModelChange)="onUsernameChange($event)"
      name="username"
      placeholder="Nombre de usuario"
      required
    />
    <input
      [(ngModel)]="password"
      (ngModelChange)="onPasswordChange($event)"
      name="password"
      type="password"
      placeholder="Contraseña"
      required
    />
    <button type="submit">Iniciar sesión</button>
  </form>
  <hr>
  <p>Si no tienes usuario:</p>
  <button><a routerLink="/register">Regístrate</a></button>
</div>
<div *ngIf="authService.isLoggedIn()" class="container">
  <p>Bienvenido, {{ authService.getUsername() | uppercase }}!</p>
  <button (click)="logout()">Cerrar sesión</button>
  <button><a routerLink="/perfil">Perfil de usuario</a></button>
</div>
<p *ngIf="errorMessage">{{ errorMessage }}</p>

