<div *ngIf="authService.isLoggedIn() === false" class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login(username,password)">
    <input
      [(ngModel)]="username"
      name="username"
      placeholder="Nombre de usuario"
      autocomplete="username"
      required
    />
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      placeholder="Contraseña"
      autocomplete="current-password"
      required
    />
    <button type="submit">Iniciar sesión</button>
  </form>
  <hr>
  <p>Si no tienes usuario:</p>
  <button><a routerLink="/register">Regístrate</a></button>
</div>
<div *ngIf="authService.isLoggedIn()" class="container">
  <p>Bienvenido, {{ authService.getUsername() | uppercase }}!</p>
  <button (click)="logout()">Cerrar sesión</button>
  <button><a routerLink="/perfil">Perfil de usuario</a></button>
</div>
<p class="error" *ngIf="errorMessage" id="error"> El los datos {{username}} y {{password}} {{ errorMessage }}</p>

